* {
  box-sizing: border-box;
  font-family: 'Syne Mono', monospace;
}
body {
  margin: 0;
}
.navbar {
  height: 80px;
  background: green;
  width: 100%;
  margin-bottom: 10px;
}
.navbar h1 {
  font-family: 'Alfa Slab One', cursive;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.navbar p {
  margin-top: 0;
  color: white;
  cursor: pointer;
  text-align: center;
  border: 1px solid white;
  width: 150px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.todos {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: silver;
}
.todo-done {
  background-color: grey;
  border: 1px solid red;;
}
.todos .todo {
  text-align: center;
}
.todos .name, .todos .todo, .todos .buttons {
  width: 33.3%;

}
.todos button, .mark {
  float: right;
  margin-left: 10px;
}
.mark {
  color: red;
  font-size: 20px;
}
.add {
  width: 100%;
  text-align: center;
}
.add input {
  margin-bottom: 10px;
}
.close {
  display: none;
}
.open {
  display: block;
}
.warn {
  border: 1px solid red;
}
.edit {
  width: 500px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  background: silver;
  padding-bottom: 30px;
}
.edit button {
  padding: 10px;
  width: 200px;
  font-size: 40px;
  border-radius: 10px;
  background: green;
  margin: 5px;
}
.edit input {
  width: 90%;
  margin: 10px;
  padding: 7px;
}
.edit button a {
  text-decoration: none;
  color: white
}
